/* 
    dark blue: #0F6BB5;
    light blue: #369ff4;
    gray: #ecebe9;
    orange: #e8632a;
  */
/* Layout & global */

body, html {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #ecebe9;
  color: #fff;
  text-align: center;
}

header {
  text-align: left;
  padding-bottom: 50px;  
}

.logo {
  width: 200px;
}

iframe {
  max-width: 100%;
}

/* Type */
h1 {
  font-family: 'Droid Serif', Georgia, serif;
  text-align: center;
  font-size: 2.5em;
  display: block;
  width: 100%;
/*  margin-top: -40px;*/
      margin-top: 32px;
  margin-bottom: 32px;
  color: #369ff4;
}

h3 {
    color: #e8632a;
    font-size: 4em;
    margin-top: 32px;
    margin-bottom: 32px;
}

p {
    color: #2E2D2C;
    font-size: 1.5em;
}

.heading-wrapper{
    background-color: white;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(128,128,128,.5);
}
.btn.outline {
    border: 2px solid #0099cc;
    color: black;
}
.tubs{
    background: rgb(81, 153,211);
    border-radius: 5px;
    margin: 20px 0px 20px 0;
}

.data-label{
    margin: 20px 20px;
}

#twitterButton a{
    background: rgb(169, 206,244); 
    font-weight: 500;
    font-size: 2em;
    
  /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.hvr-icon-grow-rotate:before {
    content: "\f099";
}
.info-label{
    color: rgb(45,45,45);   
    font-weight: 900;
    font-size: 2em;
}
.info-data{
    font-size: 1.5em;
}
#twitter-feed p{
    font-size: 3em;
    color: white;
}
/* Responsive */

@media screen and (max-width: 1200px) {
  h1 {
    margin-top: 0;
  }
}

@media screen and (max-width: 900px) {
  iframe {
    width: 650px;
    height: 333px;
  }
}

@media screen and (max-width: 675px) {
  iframe {
    width: 450px;
    height: 245px;
  }

  h3 {font-size: 2.5em;}
}

@media screen and (max-width: 475px) {
  iframe {
    width: 300px;
    height: 163px;
  }
}