<section ng-controller="homeCtrl">
    <div class="heading-wrapper">
        <header>
            <a href="http://www.fwd.us/chapter_aus" target="_blank">
                <img src="images/fwd-logo.svg" alt="" class="logo">
            </a>
        </header>
        <h1 class="hvr-grow">#LetAbbottHaveIt</h1>
        <div id="twitterButton">
            <a class="btn hvr-icon-grow-rotate hvr-grow" ng-href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Faustin.fwd.us%2F&amp;related=fwd_us&amp;text=%40GregAbbott_TX%20FACT:%20Your%20lawsuit%20against%20%23ImmigrationReform%20has%20cost%20the%20US%20${{containerNational}}.%20%20%23LetAbbottHaveIt%20;tw_p=tweetbutton&amp;url=http%3A%2F%2Faustin.fwd.us%2F" id="b">   
                    <span class="label" id="l">
                        <strong>Tweet</strong>
                    </span>
            </a>  
        </div>
        <div id="title">
            <h3>
              Tweet Greg the cost of his #ImmigrationReform lawsuit.
            </h3>
        </div>
    </div>
    
    <div class="info-wrapper">
            
            
    <!--  container for costs  -->
          <div id="infographic" class="div-headers tubs container-fluid twin">
            <h2>GREG ABBOTT'S LAWSUIT</h2>   
            <div class="data-label hvr-grow">
              <div class="info-label"><strong>DAYS ACTIVE: </strong></div>
              <div class="info-data">{{numdays}} DAYS</div>
            </div>

            <div class="info-title">
                
                <h4>TEXAS</h4>
                
                <div class="data-label hvr-grow">
                  <div class="info-label">LOST PER DAY: </div>
                  <div class="info-data">$ 185,205.48</div>
                </div>
                
                <div class="data-label hvr-grow">
                  <div class="info-label">CURRENT COST: </div>
                  <div class="info-data">$ {{container}}</div>
                </div>
                
            </div>

            <div class="info-title">
                
                <h4>NATIONALLY</h4>
                
                <div class="data-label hvr-grow">
                  <div class="info-label">LOST PER DAY:</div>
                  <div class="info-data">$ 37 Million</div>

                </div>
                
                <div class="data-label hvr-grow">
                  <div class="info-label">CURRENT COST:</div>
                  <div class="info-data">$ {{containerNational}}</div>
                </div>
                
              </div>

            <div>
                <a href="#/home#page-bottom">*Citations</a>
            </div>
              
          </div>

            
            
    <!--  container for twitter  -->
          <div id="twitter-feed" class="div-headers tubs twin">
              <h2>Twitter Feed</h2>
              <div id="feed">
               <a class="twitter-timeline" href="https://twitter.com/hashtag/immigrationreform" data-widget-id="572096668334432256">#immigrationreform Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
          </div>
    </div><!--    end of info-wrapper div-->

    
    
    <div id="video-wrapper" class="row div-headers tubs container-fluid">
      
      <iframe width="853" height="480" src="https://www.youtube.com/embed/videoseries?list=PLwVuCj2NpVjqy7RCwh3mc_GxAf8-_prut&amp;autoplay=0&amp;index=3" frameborder="0" allowfullscreen="" id="video">
      </iframe>
      <p>
        These videos were filmed and compiled by FWD.us Austin Chapter members.
      </p>
    </div>
    
</section>

    

    <div id="page-bottom">
        <div>
            <a class="pull-right cite" href="http://www.scribd.com/doc/248188359/Economic-Benefits-of-Executive-Action-for-Texas">*Citation</a>
        </div>
        
        <div>
            <a class="pull-right cite" href="https://www.americanprogress.org/issues/immigration/news/2013/11/07/78602/the-cost-of-inaction-on-immigration-reform/">*Citation</a>
        </div>
    </div>

  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>