<header>
    <a href="http://www.fwd.us/chapter_aus" target="_blank">
        <img src="images/fwd-logo.svg" alt="" class="logo">
    </a>
</header>

<h3>THANKS FOR LETTING ABBOTT HAVE IT!!</h3>

<div id="share-text">Please click the link below to <strong>SHARE</strong> our page on Facebook.</div>

<a href="https://www.facebook.com/sharer/sharer.php?app_id=309437425817038&amp;sdk=joey&amp;u=http%3A%2F%2Faustin.fwd.us&amp;display=popup&amp;ref=plugin" target="_blank" id="u_0_1"><button class="share-button btn"><i class="fa fa-facebook fa-2x"></i></button></a>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>